.container{
    width: 100%;
    padding: 0;
    overflow: hidden;   
}
/* front page */

#frontpage{
    background-image: url('./images/bg1.gif');
    background-size: cover;
    height:100vh;
    
}
#frontpageimg
{
    box-shadow: 0px 0px 5px #fff;
    margin-top: 1em;
    width: 100%;
}
#frontpagebtn{
    width: 60%;
    border-radius: 50%;
}
@media only screen and (min-width: 450px){
    
    #frontpagebtn{
        margin-bottom: 2em;
    }
    #frontpageimg{
        max-width: 400px;
        width: 100%;
        margin: auto;
    }
    #fontpagetitle{
        margin-bottom: 1em;
    }
}

/* Game page */
#gamepage{
    background-image: url('./images/bg2.gif');
    background-size: cover;
    height: 100vh;
}
#rounds{
    box-shadow: 0px 0px 5px #fff;
    border-radius: 25px;
    
}
/* scorecard */
#scores{
    color: white;
     width: 100%;
}
.fa-user,.fa-robot{
   color: white;
}
.scoreboard{
    margin-top: 1em;
    font-size: 25px;
    text-align: left;
}
.scoreitems{
    height: 40px;
}
/* game area */
.gamearea{
    margin-top: 3em;
}
.gameimg{
    width: 100%;
}
.vs{
    margin: auto;
    color:white;
    font-size: 2.5em;
    animation: glow .59s infinite alternate;
}
@keyframes glow {
    to {
     text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 12px #d25ed4, 0 0 16px #d25ed4, 0 0 20px #d25ed4, 0 0 24px #d25ed4, 0 0 28px #d25ed4;
    }
  }
  .vs{
          text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px #292736, 0 0 8px #292736, 0 0 10px #292736, 0 0 12px #292736, 0 0 14px #292736;
          animation: glow .59s infinite alternate;
  }
/* chooosing board */
.choosingboard{
    justify-content: center;
    margin-top: 1em;
    box-shadow: 0px 0px 5px #fff;
}
.choosingboardheading{
    color: white;
    font-weight: lighter;
    margin-bottom: 1em;
}
.chooseimg{
    width: 100%;
    display: block;
}
.chooseimg:hover,.chooseimg:focus{
    cursor: pointer;
    box-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 12px #d25ed4, 0 0 16px #d25ed4, 0 0 20px #d25ed4, 0 0 24px #d25ed4, 0 0 28px #d25ed4;
}
.chooselabel{
    color:white;
}
/* game rules page */
#gamerules{
    background-image: url('./images/bg2.gif');
    background-size: cover;
    height: 100vh;
  
}
.rules{
    margin-top: 1em;
    color: white;
    text-align: left;
    font-size: 23px;
} 
#selectrounds{
    font-size: 30px;
    font-weight: lighter;
    text-decoration: underline;
}
.startgamebtn{
    margin: 0 auto;
    width: 50%;
}
