.container{
    width: 100%;
    padding: 0;
    overflow: hidden;   
}
/* front page */

#frontpage{
    background-image: url('./images/bg1.gif');
    background-size: cover;
    height: 100vh;
}
#frontpageimg
{
    box-shadow: 0px 0px 5px #fff;
    margin-top: 1em;
}
#frontpagebtn{
    width: 60%;
    border-radius: 50%;
}
@media only screen and (min-width: 450px){
    
    #frontpagebtn{
        margin-bottom: 2em;
    }
    #frontpageimg{
        max-width: 400px;
        width: 100%;
        margin: auto;
    }
    #fontpagetitle{
        margin-bottom: 1em;
    }
}

/* Game page */
#gamepage{
    background-image: url('./images/bg2.gif');
    background-size: cover;
    flex-wrap: wrap;
}
#rounds{
    box-shadow: 0px 0px 5px #fff;
    border-radius: 20px;
}
/* scorecard */
#scores{
    color: white;
    width: 100%;
}
.fa-user,.fa-robot{
   color: white;
}
.scoreboard{
    margin-top: 1em;
    font-size: 25px;
    text-align: left;
}
.scoreitems{
    height: 40px;
}
/* game area */
.gamearea{
    margin-top: 3em;
}
.gameimg{
    width: 100%;
}
.vs{
    margin: auto;
    color:white;
    font-size: 2.5em;
}
/* chooosing board */
.choosingboard{
    justify-content: center;
    margin-top: 1em;
}
.choosingboardheading{
    color: white;
    font-weight: lighter;
    margin-bottom: 1em;
}
.chooseimg{
    width: 100%;
    display: block;
}
.chooselabel{
    color:white;
}
